.container{
  max-width: 960px;
  margin-right:auto;margin-left:auto;
}
.textRequired::after{
  content: " *";
  color:red;
}
.infotitulo {
  background: #428bca !important;
  border-bottom: 2px solid #0171a5 !important;
  color: #ffffff;
   font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
 
  padding-left:10px;
}

.ladoiz{
  margin-top: 40px;
}



.cabeza{
  background: #000;
}

.piso{
  background: #e5e5e5;
  color: #5f5f5f;
  padding: 5px;
}

.badge {
color: #428bca;
background-color: #fff;
}

#texto{
  margin-top: 14px;
  color: #fff;
}

.infoparti {
  background: #000 !important;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.5em;
  padding-left:10px;
}

.btn-nigga{
  padding: 5px 10px;
  color: #fff;
  background-color: #3d3d3d;

}
.btn-nigga:hover{
  color: #fff;
  background-color: #7f7f7f;
  cursor:pointer;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.popover.right>.arrow {
  border-right-color:#a94442;
}
.popover {
  border: 1px solid #a94442;
  color:#a94442;
}
.ms-inv{
  border: 1px solid #CC0000;
}

.participates{
  margin-left:15px;
  margin-right: 15px;
}

.name {
  font-size: 1.3em;
  font-weight: 700;
}
.title {
  display: inline-block;
  font-size: 1.7em;
  font-weight: bold;
  padding: 5px 15px;
}

.profile{
  height: 50px;
  width: 50px;
}

.separador{
  margin-top: 10px;
  margin-bottom: 10px;
}
