<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="lottoApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header class="cabeza">
  <section class="container">
    <figure >
     <img src="images/banner.png" alt="Mil Carnes">
    </figure>
  </section>
</header>


<header class= "piso">
    <section class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="col-md-2 col-xs-4">
          <a href="https://www.facebook.com/pages/Mil-Producciones/1541240809423907?fref=ts" target="_blank">
          <figure>
          <img src="images/Icono%20Facebook.png" width="60" height="61">
          </figure>
          </a>
          </div>


       <div class="col-md-6 ">
       
       </div>
    </div>
    </section>
</header> 

<section class="container" style="margin-top:15px;">
  <div class="col-md-6 ladoiz">
    <div class="row" ng-controller="RegistroCtrl">
      <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()"> <span class="badge"> 1 </span> Participa con Facebook</button>

      <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Salir de Facebook</button>
    </div>

    <div class="row" id="texto">
      <p style="font-style: italic;color:#7f7f7f; margin-left:20px;" >“Dale click en el boton participa con facebook dale me gusta y llena tu numero de telefono y preciona participar”. <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMil-Producciones%2F1541240809423907&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe></p>
    </div>

    <div class="row">
      <form id="registro" name="registro" ng-controller="RegistroCtrl" class="form-horizontal" style="padding-top:15px;" role="form">
        <header class="infotitulo">
          <h2 style="margin:0px;font-size:1.85em;font-weight: bold;" class="namewrap">
              <span class="badge"> 2 </span>  Verifica tus datos y Telefono 
          </h2>
        </header>
        <section class="infobody" style="background-color:#ececec;padding: 20px 30px 1px 30px;">

          <div class="row"  >
           <div ng-show="exist" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              Ya estas participando, solo puedes registrarte una vez.
            </div>
            <div ng-show="!exito" class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              Gracias por Participar!.
            </div>
            <div class="col-md-3">
              <label for="nombre" class="pull-left" >
                Nombre
              </label>
            </div>
            <div class="col-md-9">
              <p ng-show="salutation" class="form-control-static nombre" ng-bind="'Hola, ' + user.name" name="nombre"></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <label for="correo" class="pull-left">
                Correo
              </label>
            </div>
            <div class="col-md-9">
              <p class="form-control-static nombre"  ng-bind="user.email" name="nombre"></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <label for="telefono" class="textRequired pull-left" >
                Teléfono
              </label>
            </div>
            <div class="col-md-9" ng-class="{true: 'has-error'}[registro.telefono.$error.pattern]">
              <input type="text" ng-model="telefono" class="form-control" id="telefono" name="telefono" value="" required ng-pattern="/^(0412|0414|0424|0416|0426)\d{7}$/" placeholder="Ej: 04161234321" maxlength="11">
            </div>
          </div>
          <br>
          <div class="row form-group">
            <div class="col-sm-12">  

              <button type="button" class="btn btn-nigga pull-right submit" data-ng-show="{{!facebookReady}}" data-ng-disabled="!logged" ng-click="addMessage(email,telefono,user.name,user.id);email = null;telefono = null;">PARTICIPAR</button>

            </div>
            <br>
            <div class="col-sm-12" style="font-size:11px;">Campos obligatorios <span style="color:red;">*</span></div>
            <br>
          </div>
        </section>
      </form>
    </div>
  </div>
  <div class="col-md-6" ng-controller="RegistroCtrl">
    <div class="row">
      <div class="col-md-5">
        <figure style="height:70px;">
        <img src="images/milcarnes.png" alt="Mil Carnes">
        </figure>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5">
        <figure style="height:70px;">
        <img src="images/milproducciones.png" alt="Mil Producciones">
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="margin-top:15px;">
        <header class="infoparti" style="margin-bottom:10px;">
          Participantes
        </header>
      </div>
      <div id="parti" class="col-sm-12" style="height:350px;overflow:hidden;" >
        <div class="row" ng-repeat="user in registros | reverse ">
          <div class="col-xs-12 col-sm-2">
            <figure >
              <img src="https://graph.facebook.com/{{user.f_id}}/picture?type=small" alt="Scott Stevens" class="img-responsive img-circle profile" />
            </figure>
          </div>
          <div class="col-xs-12 col-sm-10">
            <span class="name" ng-bind="user.name"></span><br/>
          </div>
          <hr class="col-xs-12 col-sm-12 separador">
        </fadiv>

      </div> <!-- parti -->
    </div> <!-- row -->
  </div> <!-- col-md-6 -->
</section>




<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
<script src="bower_components/mockfirebase/dist/mockfirebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/angularfire/config.js"></script>
<script src="scripts/angularfire/firebase.utils.js"></script>
<script src="scripts/controllers/chat.js"></script>
<script src="scripts/filters/reverse.js"></script>
<script src="scripts/routes.js"></script>
<script src="scripts/controllers/registro.js"></script>
<!-- endbuild -->
</body>
</html>
